@import "mixins";
@import "animation";

* {
  box-sizing: border-box;
}

.simple-editor {
  height: 480px;
  border: 2px solid #eee;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 5px;
}
