@import "mixins";
@import "animation";

* {
  box-sizing: border-box;
}

.simple-editor {
  height: 480px;
  border: 2px solid #eee;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 5px;
}

.e-table-grid {
  display: grid;
  width: 100%;
  height: 140px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border-right: 1px solid #bbbec4;
  border-bottom: 1px solid #bbbec4;
}

.e-table-grid-item {
  border-left: 1px solid #bbbec4;
  border-top: 1px solid #bbbec4;

  &--active {
    border-left: 1px solid #1296db;
    border-top: 1px solid #1296db;
    background-color: rgba(18, 150, 219, 0.2);
  }
}

.edit-area {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

.dropdown {
  &-view {
    position: absolute;
    left: 50%;
    top: 40px;
    padding: 4px 10px;
    width: 150px;
    transform: translateX(-50%);
    background-color: antiquewhite;
    z-index: 101;
    border-radius: 4px;
  }
  &-mask {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
  }
}

.e-button {
  background-color: tomato;
  padding: 2px 10px;
  border-radius: 6px;
  font-size: 14px;
  color: white;
  text-align: center;
}

.e-input {
  border-radius: 2px;
  padding: 3px 6px;
  font-size: 13px;
  width: 100%;
  border: 1px solid #bbbec4;
}

.e-label {
  font-size: 13px;
  margin-bottom: 4px;
}

.toolbar-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  height: 100%;
  cursor: pointer;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
}
